.hidden {
    display: none !important;
}

.px-4 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.border-blue {
    border-color: rgb(29 155 240);
}

.border-2 {
    border-width: 2px !important;
}

.h-24 {
    height: 6rem !important;
}

.w-full {
    width: 100% !important;
}

.w-80 {
    width: 90% !important;
}

.flex {
    display: flex !important;
}

.items-center {
    align-items: center !important;
}

.justify-between {
    justify-content: space-between !important;
}

.rounded-lg {
    border-radius: 0.5rem !important;
}

.bg-blue {
    background-color: rgba(8, 99, 160, 0.432) !important;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans {
    font-family: "Open Sans", sans-serif !important;
}